@import '~@kununu/kununu-theme-v2/scss/base/variables';


.container {
  position: relative;
  display: inline-block;

  &.top {
    .items {
      top: auto;
      bottom: 100%;
      right: -10px;
      left: auto;
      border-radius: $border-radius-base 0 0;
    }
  }

  &.bottom {
    .items {
      border-radius: 0 0 $border-radius-base;
    }
  }
}

.selectedItem {
  .item {
    &.hasIcon a {
      padding: 10px 30px;
      font-weight: $font-weight-semibold;
      text-align: right;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.items {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .1);
  z-index: 1060;

  .item {
    &.hasIcon a {
      padding-right: 40px;
    }

    .icon {
      right: 20px;
    }
  }
}

.item {
  position: relative;
  font-size: $font-size-base;
  cursor: pointer;

  .icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
  }

  a {
    display: block;
    padding: 10px;
    text-align: left;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &.active,
  &:hover {
    background-color: $gray-base-03;
  }
}
