@import '~@kununu/kununu-theme-v2/scss/base/variables';


.container {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;

  &.up {
    .itemsList {
      top: auto;
      bottom: 100%;
      border-radius: $border-radius-base 0 0;
    }
  }

  &.down {
    .itemsList {
      top: 100%;
      left: 0;
      border-radius: 0 0 $border-radius-base;
    }
  }

  &.pullRight {
    .itemsList {
      right: 0;
      left: auto;
    }
  }
}

.toggleButton {
  display: block;
  padding: 10px 15px;
  text-align: left;
  background-color: transparent;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  span[role="img"] {
    margin-left: 10px;
  }
}

.selectedItem {
  .item {
    &.hasIcon a {
      padding: 10px 35px 10px 30px;
      font-weight: $font-weight-semibold;
      text-align: right;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.itemsList {
  position: absolute;
  left: 0;
  padding: 0;
  min-width: 160px;
  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .1);
  z-index: 1060;

  .item {
    &.hasIcon a {
      padding-right: 40px;
    }

    .icon {
      right: 15px;
    }
  }
}

.item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  list-style: none;
  cursor: pointer;

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
  }

  a {
    display: block;
    padding: 10px 15px;
    text-align: left;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &.active,
  &:hover {
    background-color: $gray-base-03;
  }
}
