.dropDownStory {
  ul {
    li {
      list-style: none;
    }

    li.menuItem {
      display: inline-block;
      padding: 0 10px;

      &:first-child {
        padding: 0 0;
      }

      & + & {
        margin-left: 10px;
      }
    }
  }
}

.dropDownToggle {
  background-color: gray;
  border: 1px solid black;
  padding: 10px;
  color: white;

  img {
    display: none;
  }
}

.dropDownItemList {
  position: absolute;
  right: 0;
  background-color: gray;
  min-width: 120px;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .1);
  padding: 0;
}

.dropDownItem {
  list-style: none;
  
  a {
    display: block;
    color: white;
    padding: 10px 15px;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }

    &.active,
    &:hover {
      background-color: black;
    }
  }
}

.dropDownIcon {
  display: none;
}