.dropDownStory {
  ul {
    li {
      display: inline-block;
      padding: 0;
      list-style: none;

      &:first-child {
        padding: 0 0;
      }
    }

    li.menuItem + li.menuItem {
      padding: 0 10px;
      margin-left: 10px;
    }
  }
}
