.dropDownStory {
    ul {
    li {
      display: inline-block;
      padding: 10px;
      list-style: none;

      &:first-child {
        padding: 0 0;
      }

      & + li {
        margin-left: 10px;
      }
    }
  }
}
