@import '~kununu-theme/scss/base/variables';

.tabs {
  border-bottom: 1px solid $gray-base-10;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: -.02em;

  li {
    position: relative;
    display: block;
    float: left;

    @media (min-width: $screen-sm-min) {
      &:not(:first-child) {
        padding-left: 20px;
      }
    }

    a {
      padding: 10px 0;
      color: $gray-base-70;
      position: relative;
      display: block;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid $blue;
        color: $gray-base-90;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    display: table;

    li {
      padding: 0 5px;
      display: table-cell;
      text-align: center;
      float: none;

      a {
        padding: 10px 0;
        font-size: $font-size-small;
      }

      &.active {
        border-bottom: 3px solid $blue;

        a {
          font-weight: $font-weight-semibold;
          color: $text-color;
          border-bottom: 0;
        }
      }
    }
  }
}

.pointerDisabled {
  pointer-events: none;
}
