@import '~kununu-theme/scss/base/variables';

.inline {
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-top: 6px;
  }

  @media (min-width: $screen-xs-min) {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  label {
    margin-right: 10px;
    margin-bottom: 0;
    width: 140px;
  }

  &.paddingTop {
    @media (min-width: $screen-sm-min) {
      padding-top: 25px;
    }
  }
}

.mediumSize {
  input,
  textarea {
    height: 80px;
  }
}

.inputContainer {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.textarea {
  resize: none;
}
