@import '~kununu-theme/scss/base/variables';

.inline {
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-top: 6px;
  }

  @media (min-width: $screen-xs-min) {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  label,
  .labelWithToolTip {
    margin-right: 10px;
    margin-bottom: 0;
    width: 140px;
  }

  &.paddingTop {
    @media (min-width: $screen-sm-min) {
      padding-top: 25px;
    }
  }

  .controlLabelError,
  .controlLabelMediumSize {
    align-self: flex-start; // otherwise would be centered between Input Field and error
    display: flex;
    align-items: center;
    min-height: 46px; // height of input
  }
}

.labelWithToolTip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
  line-height: $line-height-base;

  label {
    margin: 0 10px 0 0;
    width: auto;
  }
}

.mediumSize {
  input,
  textarea {
    height: 80px;
  }
}

.inputContainer {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.textarea {
  resize: none;
}
