@import '~@kununu/kununu-theme-v2/scss/base/variables';

.spinner {
  position: absolute;
  right: 13px;
  top: 11px;

  svg {
    width: 18px;
    height: 18px;
    fill: $gray-base-50;
    vertical-align: middle;
    animation: spin 2s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.suggestionInfo {
  color: $gray-base-40;
  font-size: $font-size-sm;
  display: inline-block;
}

.suggestionsContainer {
  box-shadow: 0 2px 10px rgba($black, .2);
  border-radius: $border-radius-base;
  background-clip: padding-box;
  font-size: $font-size-base;
  width: 100%;
  margin-top: 1px;
  background-color: $white;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;

  @media (max-width: $screen-xs-max) {
    width: auto;
    border-radius: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.suggestion {
  box-sizing: border-box;
  text-align: left;
  padding: 8px 15px;
}

.suggestionHighlighted {
  background: $blue;
  color: $white;
  cursor: pointer;

  .suggestionInfo {
    color: $white;
  }
}

.suggestionsFooter {
  border-top: 1px solid $gray-base-03;
  padding: 8px 12px;
}

.autocompleteContainer {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}