@import '~@kununu/kununu-theme-v2/scss/base/variables';

.starsContainer {
  width: 100%;
  display: table;
  table-layout: fixed;

  label {
    margin: 0;
    line-height: 0;
  }
}

.starsStatic {
  max-width: 90px;
}

.starsStatic .starsGroup {
  padding: 0 2px;
}

.starsRow {
  display: table-row;
}

.starsGroup {
  display: table-cell;
  padding: 0 10px;
}

.starsGroupHidden {
  display: table-cell;
  width: 0;
}

.starInputHidden {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:focus + label,
  &:checked + label {
    .star {
      @supports (display: flex) {
        animation: pulse .8s cubic-bezier(.215, .61, .355, 1);
      }

      &:hover {
        transform: none;
      }
    }
  }
}

.star {
  transform: scale(1);
  width: 100%;
  height: 30px;

  @supports (display: flex) {
    height: auto;
    max-height: 100%;
  }

  @media (max-width: $screen-xs-max) {
    height: 50px;
  }
}

.starPath {
  stroke-linejoin: round;
  stroke-width: 35px;
}

.ratingStar {
  cursor: pointer;
  transform: scale(1);
  transition: transform .2s;

  &:hover {
    @media (min-width: $screen-md-min) {
      @supports (display: flex) {
        transform: scale(1.2);
      }
    }
  }

  .starPath {
    fill-opacity: 0;
    transition: all .2s ease;
    stroke-width: 30px;

    &.starFill {
      fill-opacity: 1;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  17% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
