{
  "presets": ["react", "env", "stage-0"],
  "env": {
    "dist": {
      "plugins": [
        ["transform-rename-import", { "original": "./index.scss", "replacement": "./index.css" }],
        ["transform-rename-import", { "original": "../index.scss", "replacement": "../index.css" }]
      ]
    }
  }
}
