{
  "extends": "@kununu",
  "settings": {
    "import/resolver": {
      "webpack": "webpack.config.babel.js"
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["tests/*.test.jsx", "**/story.js"]}]
  }
}
