@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

@import '~@kununu/kununu-theme-v2/scss/base/variables';
@import '~@kununu/kununu-theme-v2/scss/base/mixins';
@import '~@kununu/kununu-theme-v2/scss/base/core';
@import '~@kununu/kununu-theme-v2/scss/effects/core';
@import '~@kununu/kununu-theme-v2/scss/base/panels';

@import '~bootstrap-sass/assets/stylesheets/bootstrap/code';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/navbar';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/utilities';

html,
body {
  height: 100%;
  font-size: 14px;
}

.flexRow {
  .flexCol {
    margin-bottom: 20px;
  }

  @media (min-width: 998px) {
    display: flex;
    flex-wrap: wrap;

    .flexCol {
      margin-right: 10px;
    }
  }
}
