@import '~kununu-theme/scss/base/variables';

.hiddenInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.star {
  cursor: pointer;
  transition: transform .4s;
}

.hiddenInput:checked + label {
  .star {
    animation: pulse 1s cubic-bezier(.215, .61, .355, 1);
  }
}

.star:hover {
  transform: scale(1.15);
}

.ratingStarsContainer {
  @supports (display: flex) {
    display: flex;
  }
}

.ratingStar {
  display: inline-block;
  padding: 0 5px;

  @supports (display: flex) {
    display: flex;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  17% {
    transform: scale(1.3);
  }
}


.path {
  stroke-linejoin: round;
  stroke-width: 40px;
  fill-opacity: 0;
  transition: all .2s ease;

  &.fill {
    fill-opacity: 1;
  }
}
