.errorContainer {
  box-sizing: border-box;
  display: block;
  width: 200px;
  padding: 10px;
  color: black;
  background-color: orange;
  border-radius: 10px;
  border: 2px solid darkorange;
}

.errorInfo {
  display: block;
}
