@import '~@kununu/kununu-theme-v2/scss/base/variables';

.table {
  min-width: 0;
  width: 100%;
  overflow-x: auto;

  th {
    padding: 10px;
    vertical-align: bottom;
    font-weight: normal;

    span {
      color: $gray-base-70;
      text-align: left;
      font-size: $font-size-small;
      text-transform: uppercase;
    }
  }

  td {
    border: 0;
    padding: 10px;
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: darken($gray-lightest, 1%);
    }

    tr:nth-of-type(even) {
      border-bottom: 1px solid darken($gray-lightest, 1%);
    }
  }
}

.sortingContainer {
  position: relative;
  color: $gray-base-70;
  font-size: $font-size-small;
  text-transform: uppercase;
}

.sortingTitle {
  text-align: left;
  margin-right: 10px;
}

.sorting {
  cursor: pointer;
  position: absolute;
  right: -15px;
  bottom: 0;

  .sortingButton {
    background: none;
    color: inherit;
    border: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 2px;
    display: inline;

    .sortingArrowIcon {
      width: 8px;
      height: 14px;
      fill: $blue;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .table {
    td, th {
      padding: 12px 18px;
    }
  }
}
