@import '~kununu-theme/scss/base/variables';

.tableContainer {
  margin-bottom: 15px;

  @media (max-width: $screen-md-max) {
    overflow: scroll;
  }
}

.table {
  width: 100%;
  min-width: 1060px;
  border: 1px solid $table-border-color;

  & > thead > tr > th {
    padding: 10px 20px;
    background-color: $teal;
    border-color: $th-border-color;
    border-bottom: 0;
    text-transform: uppercase;
    font-size: $font-size-xs;
    text-align: left;

    span {
      color: $white;
    }
  }

  & > tbody > tr {
    min-height: 50px;

    &:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }

    > td {
      padding: 12px 18px;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-base;
      border: 1px solid $td-border-color;
    }
  }

  .emptyHeader {
    height: 40px;
    background-color: #e7e9e9;
  }

  .emptyTd {
    height: 50px;
  }

  .highlighted {
    background-color: #fcf8e3;
  }
}
