@import '~kununu-theme/scss/base/variables';

.paginatorList {
  display: inline-block;
  padding-left: 0;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults

    > a {
      position: relative;
      float: left;
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
      transition: color .25s;

      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &:first-child {
      > a {
        margin-left: 0;
        border-bottom-left-radius: $border-radius-base;
        border-top-left-radius: $border-radius-base;
      }
    }

    &:last-child {
      > a {
        border-bottom-right-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
      }
    }

    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          z-index: 3;
          color: $pagination-active-color;
          background-color: $pagination-active-bg;
          border-color: $pagination-active-border;
          cursor: default;
          pointer: disabled;
          pointer-events: none;
        }
      }
    }

    &.disabled {
      > a {
        &,
        &:hover,
        &:focus {
          pointer: disabled;
          pointer-events: none;
          color: $pagination-disabled-color;
          background-color: $pagination-disabled-bg;
          border-color: $pagination-disabled-border;
          cursor: $cursor-disabled;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-min) {
  .paginatorList > li > a {
    padding: 11px;
  }
}
