@import '~@kununu/kununu-theme-v2/scss/base/variables';

.toolTip {
  position: relative;
  top: -1px;
  width: 19px;
  height: 19px;

  svg {
    fill: $blue;
    width: 19px;
    height: 19px;
  }
}
