.toolTip {
  position: relative;
}

.toolTipButton {
  color: $blue;
  background: transparent;
  border: 0;
  appearance: none;
}

.infoBox {
  position: absolute;
}

.infoBoxTopLeft {

}

.infoBoxTopCenter {

}

.infoBoxTopRight {

}

.infoBoxLeftCenter {

}

.infoBoxRightCenter {

}

.infoBoxBottomLeft {

}

.infoBoxBottomCenter {

}

.infoBoxBottomRight {

}
