@import '~@kununu/kununu-theme-v2/scss/base/variables';

.select {
  appearance: none;
  padding-right: 30px;

  // Hide the arrow in IE10 and up
  &::-ms-expand {
    display: none;
  }

  // Disable the Firefox inner focus ring
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }
}

.innerSelectContainer {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.selectCaret {
  position: absolute;
  right: 15px;
  top: ($input-height-base / 2.5);
  font-size: 10px;
  z-index: 3;
  pointer-events: none;

  svg {
    width: 10px;
    height: 10px;
  }
}
