@import '~kununu-theme/scss/base/variables';

.radioContainer {
  display: table;
  width: 100%;

  @supports (display: flex) {
    display: flex;
  }
}

.radioButton {
  @supports (display: flex) {
    display: block;
    flex: 1;
  }
  text-align: center;
  border: 1px solid #ddd;
  border-left-width: 0;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked + label {
    &,
    &:hover {
      background: $green;
      color: $white;
    }
  }

  label {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 11px 15px;
    cursor: pointer;
    font-weight: normal;
    transition: background .25s;

    &:hover {
      background: $gray-lightest;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: .65;

      &:hover {
        background: initial;
      }
    }
  }

  & + label {
    &.disabled,
    &[disabled] {
      background: $green;
    }
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
