@import '~kununu-theme/scss/base/variables';

.radioContainer {
  display: table;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  @supports (display: flex) {
    display: flex;
    flex-flow: row wrap;
  }
}

.radioButton {
  text-align: center;
  display: table-cell;

  @supports (display: flex) {
    display: block;
    flex: 1;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked + label {
    &,
    &:hover {
      background: $blue-light;
      color: $white;
    }
  }

  label {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 11px 15px;
    cursor: pointer;
    font-weight: normal;
    transition: all .25s;
    border: 1px solid $blue-light;
    border-left: 0;
    color: $blue-dark;

    @supports (display: flex) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background: $gray-lightest;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: .65;
      border-color: $blue-light;

      &:hover {
        background: initial;
      }
    }
  }

  &:first-child {
    label {
      border-radius: $border-radius-base 0 0 $border-radius-base;
      border-left: 1px solid $blue-light;
    }
  }

  &:last-child {
    label {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
}

.radioContainer.flexible {
  @media (max-width: $screen-sm-max) {
    border: 1px solid $blue;
    border-radius: $border-radius-base;

    .radioButton {
      display: block;

      @supports (display: flex) {
        flex: 50%;
      }

      label {
        border: 0;
        border-bottom: 1px solid $blue;
        border-radius: 0;

        @supports (display: flex) {
          border: 0;
        }
      }

      @supports (display: flex) {
        &:nth-child(4n+3) label,
        &:nth-child(4n+4) label {
          border: 1px solid $blue;
          border-radius: 0;
          border-left: 0;
          border-right: 0;
        }

        &:nth-child(odd) label {
          border-right: 1px solid $blue;
        }

        &:nth-last-child(2) label,
        &:nth-last-child(1) label {
          border-bottom: 0;
        }
      }
    }
  }
}

[data-options-per-row='3'] {

  .radioButton {
    flex: 1 0 33%;
  }
}

[data-options-per-row] {
  flex-wrap: wrap;

  .notFirstRow {
    label {
      border-top: 0;
    }
  }
}
