@import '~kununu-theme/scss/base/variables';

.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.hidden {
  display: none !important;
}

.errorStyles {
  background-color: $label-danger-bg;
  border-radius: 4px;
  font-size: 11px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-weight: $font-weight-regular;
  color: $white;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 45px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    right: 45%;
    bottom: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent $brand-danger;
  }
}

.formControl {
  box-shadow: inset 0 1px 1px rgba($black, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

  // Firefox
  &::-moz-placeholder {
    color: $input-color-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  &:-ms-input-placeholder { color: $input-color-placeholder; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $input-color-placeholder; } // Safari and Chrome

  &:focus {
    border: 1px solid $blue;
    outline: none;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
}

.formControlError {
  border: 2px solid $red;
}

.controlNote {
  color: $gray-base-30;
  float: right;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  font-style: italic;
  padding-top: $baseline-grid;
  text-transform: none;

  .title {
    color: $gray-base-60;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.controlLabel {
  color: $gray-base-90;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  letter-spacing: -.01em;
  margin-bottom: 6px;

  .faInfoCircle {
    margin-left: $baseline-grid;
    font-size: $font-size-sm;
    color: $gray-base-20;
  }
}

.formGroup {
  position: relative;

  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }

  margin-bottom: $baseline-grid;
}

.formControlIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: $font-size-xl;
  color: $gray-light;
}

.formControlLg .formControlIcon {
  top: 20px;
}

.controlLabelLg {
  font-size: $font-size-lg;

  + .controlNote {
    line-height: 26px;
  }
}

.controlLabelRequired {
  text-transform: uppercase;
  font-size: $font-size-xxs;
  color: $gray-base-60;
  font-style: normal;
  position: absolute;
  top: 0;
  right: 2px;
}
