@import '~@kununu/kununu-theme-v2/scss/base/variables';

.modal {
  background: $white;
  z-index: 10;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
  min-width: 320px;
  opacity: .01;
  transform: scale(.85);
  transition: transform .15s ease-in-out, opacity .15s ease-in-out;
  transition-delay: .05s;

  @media (min-width: 480px) {
    min-width: 400px;
  }
}

.modalIsOpen {
  opacity: 1;
  transform: scale(1);
}

.underlay {
  opacity: .01;
  transition: opacity .1s ease-in-out;
}

.underlayHasEntered {
  opacity: 1;
}

.modalHeader {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: .1px solid $gray-base-20;
}

.modalFooter {
  text-align: right;
  padding: 25px 20px;
  display: flex;
  justify-content: flex-end;
  margin: 0 -5px;

  > * {
    margin: 0 5px;
    min-width: 80px;
  }
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 20px;
}

.modalCloseButton {
  width: 16px;
  height: 16px;
  border: 0;
  background: transparent;
  padding: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    svg {
      fill: $blue-lighter;
    }
  }
}

.modalCloseIcon {
  display: block;
  width: 16px;
  height: 16px;
  stroke: none;
  fill: $blue;
}
