@import '~@kununu/kununu-theme-v2/scss/base/variables';

.title {
  margin-top: 0;
}

.tile {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.flexContainer {
  font-size: 13px;

  @media (min-width: 750px) {
    display: flex;
  }

  pre {
    flex-grow: 1;
    margin: 0;
  }
}

.flexChild {
  display: flex;
  flex-direction: column;

  @media (max-width: 750px) {
    margin-bottom: 10px;
  }

  &:first-child {
    flex: 1;

    @media (min-width: 750px) {
      margin-right: 10px;
    }
  }

  &:last-child {
    flex: 1;
  }
}

.propsDefinitions {
  margin-bottom: 10px;
}
