@import '~@kununu/kununu-theme-v2/scss/base/variables';

.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.hidden {
  display: none !important;
}

.formControl {
  box-shadow: inset 0 1px 1px rgba($black, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: block;
  width: 100%;
  min-height: 50px;
  padding: $padding-base-vertical + 1 $padding-base-horizontal;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: $gray-base-70;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $gray-base-20;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

  // Firefox
  &::-moz-placeholder {
    color: $input-color-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  &:-ms-input-placeholder { color: $input-color-placeholder; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $input-color-placeholder; } // Safari and Chrome

  &:focus {
    border: 1px solid $blue;
    // We don't increase the border-width here, to prevent jumping of textfields. 
    // Also the gray box-shadow is insetted 1px more, to account for the blue box-shadow
    box-shadow: inset 0 0 0 1px $blue, inset 0 2px 1px rgba($black, .075);
    outline: none;
    color: $gray-base-90;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &[disabled] {
    background-color: $gray-light;
    cursor: not-allowed;
  }
}

.formControlError {
  border: 1px solid $red;
}

.controlNote {
  color: $gray-base-30;
  float: right;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  font-style: italic;
  padding-top: $baseline-grid;
  text-transform: none;

  .title {
    color: $gray-base-60;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.controlLabel {
  color: $gray-base-90;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  margin-bottom: 6px;

  .faInfoCircle {
    margin-left: $baseline-grid;
    font-size: $font-size-sm;
    color: $gray-base-20;
  }
}

.formGroup {
  position: relative;

  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }

  margin-bottom: $baseline-grid;
}

.controlLabelRequired {
  text-transform: uppercase;
  font-size: $font-size-xxs;
  color: $gray-base-60;
  font-style: normal;
  @media(max-width: ($screen-xs -1)) {
    float: right;
  }
  @media(min-width: $screen-xs) {
    position: absolute;
    top: 0;
    right: 2px;
  }
}

.inline {
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-top: 6px;
  }

  @media (min-width: $screen-xs-min) {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  label,
  .labelContainer {
    margin-right: 10px;
    margin-bottom: 0;
    width: 140px;
  }

  &.paddingTop {
    @media (min-width: $screen-sm-min) {
      padding-top: 25px;
    }
  }

  @media (min-width: $screen-xs-min) {
    .controlLabelError {
      align-self: flex-start; // otherwise would be centered between Input Field and error
      display: flex;
      align-items: center;
      min-height: 46px; // height of input
    }
  }

  .choice:first-child {
    margin-top: 0;
  }

  .choice:last-child {
    margin-bottom: 0;
  }
}
