@import '~kununu-theme/scss/base/variables';

.input {
  cursor: pointer;
}

.inline {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    padding-top: 6px;
  }

  label {
    margin-right: 10px;
    margin-bottom: 0;
    width: 140px;

    @media (max-width: $screen-xs-min) {
      text-align: left;
    }
  }

  @media (max-width: $screen-xs-min) {
    display: block;
  }

  &.paddingTop {
    @media (min-width: $screen-sm-min) {
      padding-top: 25px;
    }
  }

  .controlLabelError {
    align-self: flex-start; // otherwise would be centered between Input Field and error
    display: flex;
    align-items: center;
    min-height: 46px; // height of input
  }
}

.container {
  position: relative;
  width: 100%;
  line-height: 1.65;

  * {
    box-sizing: border-box;
  }

  // Inline error definition
  // Consider abstracting out to another component if we start using this a lot
  .error {
    border-radius: 4px;
    font-size: 11px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    color: $white;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 45px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: -5px;
      right: 45%;
      bottom: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px;
      border-color: transparent transparent $brand-danger;
    }
  }
}

.suggestionsContainer {
  box-shadow: 0 5px 10px rgba($black, .2);
  border-radius: $border-radius-base;
  background-clip: padding-box;
  font-size: $font-size-base;
  min-width: 250px;
  width: 100%;
  margin-top: 2px;
  background-color: $white;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  @media (max-width: $screen-xs-min) {
    left: 0;
    right: 0;
    width: 100%;
  }

  span {
    user-select: none;
  }
}

.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion {
  text-align: left;
  padding: 10px 20px;
}

.suggestionHighlighted {
  background: $blue;
  color: $white;
  cursor: pointer;
}

.smallText {
  color: $gray-base-40;
  font-style: italic;
}

.handle {
  position: absolute;
  right: 15px;
  font-size: 11px;
  color: $black;
  top: ($input-height-base / 3);
  z-index: 2;
  pointer-events: none;
}

.isNotSearchable {
  cursor: default;
  color : transparent;
  text-shadow : 0 0 0 $gray;
  user-select: none;
  &::selection { background: transparent; }

  &:focus {
    outline : none;
  }
}
