@import '~kununu-theme/scss/base/variables';

.checkbox {
  input {
    &[type='checkbox'] + label {
      text-transform: none;
      font-size: $font-size-base;
    }
  }
}

.inline {
  @media (min-width: $screen-xs-min) {
    display: flex;
    flex-flow: row;
    align-items: base;
  }

  > div:first-child {
    margin-right: 10px;
    width: 140px;
    max-width: 100%;
    display: inline-block;
  }

  .checkbox:first-child {
    margin-top: 0;
  }

  .checkbox:last-child {
    margin-bottom: 0;
  }
}

form .inline {
  > div:first-child {
    color: $gray-base-60;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    min-width: 60px;
  }
}

.inputContainer {
  position: relative;
  width: 100%;
}

.buttons {
  .inputContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -6px;
    margin-right: -6px;
  }

  .checkbox {
    margin: 0;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 6px;

    input {
      &[type='checkbox'] + label {
        text-transform: uppercase;
        transition: background-color .25s;

        &:hover {
          background-color: $gray-base-10;
        }

        @media (max-width: $screen-sm-max) {
          font-size: $font-size-sm;
        }
      }

      &:checked + label,
      &:focus + label,
      &:visited + label {
        outline: 0;
      }

      &:checked + label {
        background-color: $green;
        color: $white;
        font-weight: $font-weight-light;

        &:hover {
          background-color: $green;
        }
      }

      & + label,
      &:checked label {
        background-color: $gray-base-03;
        border-radius: $border-radius-base;
        box-shadow: 0 2px 5px 0 rgba($black, .26);
        padding-left: 0;
        padding: 6px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight-light;
        transition: background-color .25s;
      }

      & + label:before,
      &:checked + label:before {
        display: none;
      }
    }
  }
}
