@import '~@kununu/kununu-theme-v2/scss/base/variables';

.infoLabel {
  text-transform: uppercase;
  font-size: $font-size-xxs;
  color: $gray-base-60;
  font-style: normal;
  text-align: right;
  font-weight: $font-weight-light;
}