.logoContainer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.logo {
  width: 150px;
  display: inline-block;
}

.contentWrapper {
  margin-bottom: 200px;
}

ul {
  li {
    display: inline-block;
    padding: 10px;
    list-style: none;

    &:first-child {
      padding: 0 0;
    }

    & + li {
      margin-left: 10px;
    }
  }
}
