@import '~@kununu/kununu-theme-v2/scss/base/variables';

.infoText {
  color: $gray-base-40;
  font-size: $font-size-smaller;
  font-style: italic;
  margin: 0 0 10px;

  @media (max-width: $screen-xs-min) {
    margin-left: 0;
  }
}

.infoText.inline {
  margin-left: 127px;
}

