@import '~kununu-theme/scss/base/variables';

.hiddenInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.starsContainer {
  width: 100%;
  display: table;
  table-layout: fixed;

  @supports (display: flex) {
    display: flex;
  }

  label {
    margin: 0;
    line-height: 0;
  }
}

.staticStars {
  max-width: 90px;
}

.starsRow {
  display: table-row;

  @supports (display: flex) {
    display: flex;
  }
}

.starsGroup {
  display: table-cell;
  padding: 0 10px;

  @supports (display: flex) {
    display: flex;
  }
}

.hideStarGroup {
  display: table-cell;
  width: 0;
}

.staticStars .starsGroup {
  padding: 0 2px;
}

.path {
  stroke-linejoin: round;
  stroke-width: 35px;
}

.ratingStar {
  cursor: pointer;
  transform: scale(1);
  transition: transform .2s;

  &:hover {
    @media (min-width: $screen-md-min) {
      @supports (display: flex) {
        transform: scale(1.2);
      }
    }
  }

  .path {
    fill-opacity: 0;
    transition: all .2s ease;
    stroke-width: 30px;

    &.fill {
      fill-opacity: 1;
    }
  }
}

.star {
  transform: scale(1);
  width: 100%;
  height: 30px;

  @supports (display: flex) {
    height: auto;
    max-height: 100%;
  }

  @media (max-width: $screen-xs-max) {
    height: 50px;
  }
}

.hiddenInput:focus + label,
.hiddenInput:checked + label {
  .star {
    @supports (display: flex) {
      animation: pulse .8s cubic-bezier(.215, .61, .355, 1);
    }

    &:hover {
      transition: transform .2s;
      transform: scale(1.2);
    }
  }
}


@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  17% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
