// sass-lint:disable class-name-format

@import '~@kununu/kununu-theme-v2/scss/base/variables';

.choiceContainer {
  &.inline {
    align-items: flex-start;
  }
}

.choice {
  position: relative;
  display: block;
  margin-bottom: 10px;

  * {
    box-sizing: border-box;
  }

  input {
    display: block;
    position: absolute;
    margin-left: 4px;
    opacity: 0;
    z-index: -1;

    + label {
      color: $gray-base-80;
      cursor: pointer;
      display: inline-block;
      max-width: 100%;
      padding-left: 30px;
      text-transform: none;
      font-size: $font-size-base;
      font-weight: normal;
      min-height: 20px;
      margin-bottom: 0;

      &:before {
        border-radius: 1px;
        box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray-base-20;
        content: ' ';
        display: inline-block;
        height: 12px;
        margin-bottom: 3px;
        margin-left: - $baseline-grid * 4;
        margin-right: ($baseline-grid * 2) - 2;
        text-align: center;
        vertical-align: middle;
        width: 12px;

        html.lt-ie9 & {
          border: 1px solid $gray-base-10;
        }
      }
    }

    &:checked + label {
      font-weight: $font-weight-semibold;

      &:before {
        background-image: url('data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABaAAD/4QMxaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzA2NyA3OS4xNTc3NDcsIDIwMTUvMDMvMzAtMjM6NDA6NDIgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjcyMTE1MUY5REZGODExRTZCRUY2QjgyOUE2QkE4RTlEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjcyMTE1MUZBREZGODExRTZCRUY2QjgyOUE2QkE4RTlEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzIxMTUxRjdERkY4MTFFNkJFRjZCODI5QTZCQThFOUQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzIxMTUxRjhERkY4MTFFNkJFRjZCODI5QTZCQThFOUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAmQWRvYmUAZMAAAAABAwAVBAMGCg0AAAVWAAAF6gAABoEAAAcs/9sAhAABAQEBAQEBAQEBAgEBAQICAgEBAgICAgICAgICAwIDAwMDAgMDBAQEBAQDBQUFBQUFBwcHBwcICAgICAgICAgIAQEBAQICAgUDAwUHBQQFBwgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/wgARCAAQABYDAREAAhEBAxEB/8QAtgAAAwEAAAAAAAAAAAAAAAAABgcICQEAAQUBAAAAAAAAAAAAAAAAAgMEBQYHCBAAAQQDAQEBAAAAAAAAAAAABgECAwQAEQUSEBMRAAEDAwMDBQEAAAAAAAAAAAERAgMABAVREhMhQWExcbHBQlISAAEDAQUJAAAAAAAAAAAAAAEAEQMTICFBUQQxcaGxweESIjITAQACAgEEAgEFAAAAAAAAAAERIQAxQfBRYXGBoZEQscHR8f/aAAwDAQACEQMRAAAB2rzZAcgAQOGtGFfFRmuBaPXsl//aAAgBAQABBQJhfxX9guLo+JHQqd+MdNAxXqJCE3Vl8M8f/9oACAECAAEFAmFdRbRUVNptpVbzaBeI7wWFXWXeU1//2gAIAQMAAQUC/RNySaxEXUkeRx7+f//aAAgBAgIGPwKg9+eD5KnHfIeCl1BJYsd58h7IzwbcR1Cr6j559ky//9oACAEDAgY/ArX/2gAIAQEBBj8CdhhMRMDtFx04jJ/C60bKyIkysg9xCD3PnQVnM0+5ljhueKSJvUvkkbcxv5vCJ61LmMRGshV17Zt79y9v2KGXzQcbVVjheu6d2rl/PzXHtHGibE6JpX//2gAIAQEDAT8hlQm4DsIn6ahanPHZUOo+hbW5OhStEHMK8vRiD0DrehOefkMvInMM+TboZ+Aja4pqIz//2gAIAQIDAT8hT+L/ACHf6ms6ALt89j5a2RFGbkE9Iu+fRiMXcfR7Pky3l5B2+70n1nEV2z//2gAIAQMDAT8h0M0DeSbnOZsP6f/aAAwDAQACEQMRAAAQm19//9oACAEBAwE/EGHAkQmc4NFAIJia1OzaJaRYy/0DA6FabgJi7rMrQ4n0BC1bOWyLfckZAcvM1WVQubXtPU6Ap2EREZ//2gAIAQIDAT8QCjAwQTDCJTahSVCsSiQF7A6Dlbf6BiHDslMMcgnhStDkgFSBa7QOeS33JEYC2Ha5btubf5cerFCIiIjURUajP//aAAgBAwMBPxAfu4B/wYSTT/ZeSfeYq4/3yCM//9k=');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    &:disabled + label {
      cursor: not-allowed;
      opacity: .65;
    }
  }
}

.inlineLabel {
  @media (min-width: $screen-xs-min) {
    margin-right: 10px;
    margin-bottom: 0;
    width: 140px;
  }
}

.choiceInnerContainer {
  position: relative;
  width: 100%;
}

.buttons {
  .choiceInnerContainer {
    display: block;
    width: auto;
    margin-left: -6px;
    margin-right: -6px;

    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .choice {
    display: inline-block;
    padding: 5px;

    &,
    & + .choice {
      margin: 0;
    }

    @supports (display: flex) {
      flex-shrink: 0;
      flex-grow: 1;
    }

    input {
      & + label {
        color: $blue;
        border: 1px solid $blue;
        transition: background-color .25s;
        font-weight: $font-weight-semibold;

        @media (max-width: $screen-sm-max) {
          font-size: $font-size-xs;
        }
      }

      & + label:hover,
      &:focus + label {
        background-color: transparent;
        color: $blue;
      }

      &:checked + label,
      &:focus + label,
      &:visited + label {
        outline: 0;
      }

      &:active + label {
        background-color: $blue;
        color: $white;
      }

      &:checked + label {
        background-color: $blue;
        color: $white;

        &,
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }

      & + label,
      &:checked label {
        background-color: transparent;
        border-radius: $border-radius-base;
        padding: 8px;
        text-align: center;
        transition: background-color .25s;

        @supports (display: flex) {
          width: 100%;
        }
      }

      & + label:before,
      &:checked + label:before {
        display: none;
      }

      &:disabled:not(:checked) + label {
        background-color: $gray-base-10;
        border: 1px solid $gray-base-20;
        color: $gray-base-80;
        cursor: not-allowed;
      }

      &:disabled:checked + label {
        cursor: not-allowed;
        opacity: .65;
      }
    }
  }
}

// bug workaround for MS Edge
// MS Edge does not recalculate style for :disabled pseudo-class followed by sibling combinator
// https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11295231/
[disabled] ~ dummy { // NOSONAR
  width: auto;
}
