@import '~@kununu/kununu-theme-v2/scss/base/variables';

.toolTip {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;

  svg {
    fill: $green;
    width: 25px;
    height: 25px;
  }
}