@import '~@kununu/kununu-theme-v2/scss/base/variables';

.toolTipContainer {
  position: relative;
  top: -1px;
  width: 19px;
  height: 19px;

  svg {
    fill: $blue;
    width: 19px;
    height: 19px;
  }
}

.toolTipButton {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  appearance: none; // NOSONAR

  &:focus {
    outline: 0;
  }
}
