@import '~@kununu/kununu-theme-v2/scss/base/variables';

.choiceContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  * {
    box-sizing: border-box;
  }
}

.choiceButton {
  text-align: center;
  min-height: 50px;
  display: flex;
  flex: 1;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked + label {
    &,
    &:hover {
      background: $blue;
      color: $white;
    }
  }

  label {
    width: 100%;
    margin: 0;
    padding: 11px 15px;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    transition: all .25s;
    border: 1px solid $blue;
    border-left: 0;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $gray-lightest;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: .65;
      border-color: $blue-light;

      &:hover {
        background: initial;
      }
    }
  }

  &:first-child {
    label {
      border-radius: $border-radius-base 0 0 $border-radius-base;
      border-left: 1px solid $blue;
    }
  }

  &:last-child {
    label {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
}

.choiceContainer.choiceFlexible {
  @media (max-width: $screen-sm-max) {
    border: 1px solid $blue;
    border-radius: $border-radius-base;

    .choiceButton {
      display: flex;
      flex: 50%;

      label {
        border: 0;
        border-radius: 0;
      }

      &:nth-child(4n+3) label,
      &:nth-child(4n+4) label {
        border: 1px solid $blue;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      &:nth-child(odd) label {
        border-right: 1px solid $blue;
      }

      &:nth-last-child(2) label,
      &:nth-last-child(1) label {
        border-bottom: 0;
      }
    }
  }
}

[data-options-per-row] {
  flex-wrap: wrap;

  .choiceButton {
    label {
      border-top: 0;
    }

    // Reset default border-radius for first and last child
    &:first-child {

      label {
        border-radius: 0;
      }
    }

    &:last-child {

      label {
        border-radius: 0;
      }
    }
  }

  // Mobile Styling
  @media (max-width: $screen-sm-max) {
    .choiceButton {
      flex: 0 0 50%;

      // First Row
      &:nth-child(-n+2) {
        label {
          border-top: 1px solid $blue;
        }
      }

      // All Left Radio Buttons
      &:nth-child(2n + 1) {
        label {
          border-left: 1px solid $blue;
        }
      }

      // Style for border corners
      // Top Left Corner
      &:first-child {
        label {
          border-top-left-radius: $border-radius-base;
        }
      }

      // Top Right Corner
      &:nth-child(2) {
        label {
          border-top-right-radius: $border-radius-base;
        }
      }

      // Bottom Left Corner
      &:nth-child(2n + 1):nth-last-child(-n + 2) {
        label {
          border-bottom-left-radius: $border-radius-base;
        }
      }

      // Bottom Right Corner
      &:last-child,
      &:nth-child(2n):nth-last-child(-n + 2) {
        label {
          border-bottom-right-radius: $border-radius-base;
        }
      }
    }
  }
}

.mobileSingleCol .choiceContainer.choiceFlexible,
.mobileSingleCol .choiceContainer {
  @media (max-width: 480px) {
    display: flex;

    @supports(display: grid) {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      border: 0;
    }

    .choiceButton label {
      border: 1px solid $light-blue-grey;
      border-top: 0;
      border-radius: 0;
    }

    .choiceButton:first-child label {
      border-top: 1px solid $light-blue-grey;
      border-top-right-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
    }

    .choiceButton:last-child label{
      border-bottom-right-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
  }
}

@mixin options-per-row($count) {
  [data-options-per-row='#{$count}'] {
    display: flex;

    @supports(display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;

      @media (min-width: $screen-md-min) {
        grid-template-columns: repeat($count, 1fr);
      }
    }

    @media (min-width: $screen-md-min) {
      .choiceButton {
        flex: 0 0 100% / $count;

        label {
          border-top: 0;
        }
      }

      // Target first row
      .choiceButton:nth-child(-n + #{$count}) {
        label {
          border-top: 1px solid $blue;
        }
      }

      // All left radioButtons
      .choiceButton:nth-child(#{$count}n + 1) {
        label {
          border-left: 1px solid $blue;
        }
      }

      // Top Left Corner
      .choiceButton:first-child {
        label {
          border-top-left-radius: $border-radius-base;
        }
      }

      // Top Right Corner
      .choiceButton:nth-child(#{$count}) {
        label {
          border-top-right-radius: $border-radius-base;
        }
      }

      // Bottom Left Corner
      .choiceButton:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}) {
        label {
          border-bottom-left-radius: $border-radius-base;
        }
      }

      // Bottom Right Corner
      .choiceButton:nth-child(#{$count}n):nth-last-child(-n + #{$count}),
      .choiceButton:last-child {
        label {
          border-bottom-right-radius: $border-radius-base;
        }
      }
    }
  }
}

@include options-per-row(3);
@include options-per-row(4);
@include options-per-row(5);
@include options-per-row(6);
@include options-per-row(7);
