body {
  padding: 0;
  margin: 0;
  background-color: white;

  > div {
    height: 100%;

    > div {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100%;
    }
  }
}
