@import 'components/Button/index';

input:checked + label.customThemeChoice {
  &,
  &:hover {
    background: #2286dc;
  }
}

label.customThemeChoice {
  background: #fffaec;

  &:hover {
    background: #778992;
  }

  .customThemeButton {
    @include button-default(#cc0, #c90);
    @include button-outline(#fff, #c90);
  }
}
