@import '~kununu-theme/scss/base/variables';

.container {
  position: relative;
  display: inline-block;
}

.container.top {
  .menu {
    top: auto;
    bottom: 100%;
    border-radius: 4px 4px 0 0;
  }
}

.container.bottom {
  .menu {
    border-radius: 0 0 4px 4px;
  }
}

.selection {
  border: 0;
  background-color: transparent;
  padding: 12px 0 12px 12px;
  font-weight: $font-weight-semibold;
  line-height: 20px;
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    padding-left: 10px;
  }

  &.light {
    color: $white;
  }

  &.dark {
    color: $text-color;
  }

  &,
  &:focus {
    outline: none;
  }
}

.menu {
  background-color: $white;
  display: none;
  min-width: 160px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: $zindex-popover;

  li {
    list-style-type: none;
  }

  &.open {
    display: block;
  }
}

.item {
  cursor: pointer;
  font-size: $font-size-small;
  color: $gray-dark;

  &:hover {
    background-color: $gray-base-03;
  }

  a {
    display: block;
    padding: 10px 20px;

    &:first-child {
      padding-top: 20px;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
  text-align: right;
}
