@import '~@kununu/kununu-theme-v2/scss/base/variables';

.container {
  display: inline-block;
  margin: 50px;
  padding-bottom: 5px;
  position: relative;

  &:after {
    content: ' ';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 0;
    right: 0px;
    margin: 0 auto;
  }

  &:before {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $gray-base-10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

.meter {
  width: 100%;
}

.smallHand,
.bigHand {
  animation: rotate 2s ease;
  transform-origin: 50% 50%;
  width: 300px;
  height: 25px;
  display: flex;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;

  .arm {
    margin: 0 auto;
    transform: translateX(-41%);
  }

  &:after {
    content: ' ';
    display: block;
    width: 75px;
    left: -12px;
    border-bottom: 1px dashed $gray-base-80;
    position: absolute;
    margin: auto;
  }

  &:before {
    content: ' ';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -35px;
    border: 5px solid $gray-base-30;
    position: absolute;
    display: block;
  }
}

.smallHand {
  .arm {
    width: 24%;
    fill: $blue;
  }
}

.bigHand {
  .arm {
    width: 30%;
    fill: #76BA31;
  }

  &:before {
    border-color: $green;
  }
}

.gradient {
  stop:first-child {
    stop-color: $green;
    stop-opacity: 1;
  }
  stop:last-child {
    stop-color: $blue;
    stop-opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
};